header.navigation {

  width: 100%;
  z-index: 999;
  $horizontal-bar-mode: $large-screen;
  $vertical-bar-mode: $medium-screen;

  background-color: #fff;

  .navigation-wrapper {
    @include clearfix;
    position: relative;
    z-index: 9999;
    padding-top: 25px;
  }

  .logo {
    float: left;
    max-width: 170px;
  }

  // Mobile view

  .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
    }
  }

  // Nav menu

  nav {
    float: none;
    z-index: 9999999;
    padding-top: 40px;


    @include media ($horizontal-bar-mode) {
      float: right;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    display: block;
    overflow: hidden;
    text-align: right;
    width: 100%;
    padding-right: 12px;
    z-index: 9999;
    margin-top: 20px;

    &:before{
      content: '';
    }

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;
      padding-right: 0;
      margin-top: 0;
    }

    a {
      display: inline-block;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
	    font-size: 16px;
	    color: $dark-gray;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
      	color: $green;
      }
      &.button{
      	color: #fff;
      	padding: 12px 25px;
        margin-top: 0;
      }
    }
  }

  .active-nav-item a {
    padding-bottom: 3px;
  }
  .navigation-menu-button{
    padding-top: 15px;
  }
  @include media(min-width 320px max-width 1199px) {
    .logo {
      max-width: 150px;
    }
    .navigation-wrapper {
      padding-top: 15px;
      nav {
        padding-top: 25px;
      }
    }
  }
  @include media(min-width 320px max-width 959px) {
    .logo {
      max-width: 120px;
    }
    .navigation-wrapper {
      padding-top: 10px;
      nav {
        padding-top: 18px;
      }
    }
    ul li.nav-link a{
      font-size: 14px;
      padding-right: 5px;
      &.button{
        color: #fff;
        padding: 12px 12px;
      }
    }
  }

}
.navbar-static-top{
  //@include transition;
  position: fixed;
}
.navbar-fixed-top{
  @include transition;
  position: fixed;
  background-color: #fff;
  top:0;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0,0.15); -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0,0.15); 
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0,0.15);
  .logo{
    @include transition;
    max-width: 120px!important;
  }
  .navigation-wrapper {
    padding-top: 10px!important;
  }
  nav {
    padding-top: 5px!important;
  }
}
#top {
  padding-top: 67px;
  margin-top: -67px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}