section.info{
  text-align: center;
  background-color: $green;
  h3{
    color:#fff;
  }
  h2{
    color: $purple
  }
  .info-content{
    padding: 60px 0;
    iframe{
      overflow: hidden;}
  }
}
#info {
  padding-top: 67px;
  margin-top: -67px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}
