section.what{
  text-align: center;
  .what-content{
    padding: 60px 150px 60px 150px;
  }
  .cols{
  		margin: 70px 0  50px 0;
  		background-color: $light-gray;
  		padding: 30px 20px;
  		border-radius: 2px;

  	.col{
  		padding-top: 0;
  		text-align: center;
  		.button{
  			margin-top: 20px;
  		}
  	}
  }
  @include media(min-width 320px max-width 1199px) {
  	.what-content{
	    padding: 60px 0 0 0;
	  }
	}
	@include media(min-width 320px max-width 959px) {
	  .image{
	    	img{max-width: 250px;}
	    }
	}
}

#what {
	padding-top: 67px;
  margin-top: -67px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}