section.what{
  text-align: center;
  .what-content{
    padding: 60px 150px 0 150px;
  }
}
#what {
	padding-top: 67px;
    margin-top: -67px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}