section.whom{
  background-color:$light-gray;
  .whom-content{
    padding: 60px 0;
    text-align: center;
    .button{
      margin-bottom: 30px;
    }
  }
}
#whom {
  padding-top: 67px;
  margin-top: -67px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}
.cols{
  overflow: hidden;
}
.col{
  width: 50%;
  float: left;
  text-align: left;
  padding-top: 40px;
  padding-right: 40px;
  &:last-child{
    padding-left: 40px;
    padding-right: 0;
  }
}
@include media(min-width 320px max-width 779px) {
  .cols{
    .col{width: 100%; padding: 0!important;
      &:last-child{
        padding-top: 30px!important;
      }
    }
  }
}