---
title: Fondo Germina
---
#top
%header.navigation.navbar-static-top
	.container
		.navigation-wrapper
			=link_to image_tag('logo-germina.svg'), '#top', class: 'logo scroll-on-page-link'
			%nav{:role => "navigation"}
				%ul.navigation-menu.show
					%li.nav-link=link_to '¿Qué es?', '#what', class: 'scroll-on-page-link'
					/ %li.nav-link=link_to '¿Quiénes pueden participar?', '#whom', class: 'scroll-on-page-link'
					%li.nav-link=link_to '¿Cómo nace?', '#how', class: 'scroll-on-page-link'
					%li.nav-link=link_to '¿Qué hacemos?', '#do', class: 'scroll-on-page-link'
					%li.nav-link=link_to 'Preguntas Frecuentes', '#faqs', class: 'scroll-on-page-link'
					%li.nav-link=link_to 'Participa', 'https://docs.google.com/forms/d/e/1FAIpQLSenKhLKz31lvENTlFN8hjbCcOseOR2jIpQ3bX2jrUPK_uLTZg/viewform', class: 'button', target: '_blank'
%section.banner
	.container
		.video
			.video-wrapper
				%iframe{:allowfullscreen => "", :frameborder => "0", :src => "http://www.youtube.com/embed/1cGtoEBRqYs?showinfo=0&iv_load_policy=3&rel=0"}
%section.what#what
	.container
		.what-content
			%h1 ¿Qué es Germina?
			%p Las personas en Jalisco están activas y tienen ganas de hacer más. Queremos que germinen todas esas voluntades e ideas  que harán toda la diferencia. A veces solo se necesita un impulso.

			%p Es por ello que surge Germina, un fondo de inversión social para potencializar proyectos que activen la participación social y política en Jalisco.

			%p Que nuestras ideas sean el principal motivo de encuentro y cambio. ¡Demostremos todo lo que es posible cuando construimos en colectivo!


			%h3 Germina.<br>Siembra ideas, cosecha comunidad.
			%hr

			%p
				%strong En Fondo Germina contamos con programas de impulso tanto para OSC que estén constituidas como donatarias autorizadas, como para activistas, reconociendo el trabajo de personas que desde lo particular inciden en las problemáticas comunes.

			=link_to image_tag('informe.png'), "http://fondogermina.mx/informe.pdf", target: '_blank'
			%br
			%br
			=link_to 'Conoce el informe', "http://fondogermina.mx/informe.pdf", target: '_blank', class: 'button'

%section.how
	.container
		.how-content
			%h2 Germina es un fondo semilla en crecimiento.
			%p
				Buscamos ampliar el número de proyectos a impulsar. <br>
				Cualquier persona puede contribuir económicamente a su crecimiento a través de Corporativa de Fundaciones A.C.<br>
				Si quieres sumarte, contáctanos a través del correo
				=link_to 'hola@fondogermina.mc', 'mailto:hola@fondogermina.mc'
				para atender tu solicitud.
			=link_to '¡Dona!', 'https://docs.google.com/forms/u/1/d/e/1FAIpQLSenKhLKz31lvENTlFN8hjbCcOseOR2jIpQ3bX2jrUPK_uLTZg/viewform', class: 'button white', target: '_blank'

%section.transparency#how
	.container
		.transparency-content
			%h1 ¿Cómo nace Germina?

			%p “Germina surge a raíz de la renuncia de Pedro Kumamoto al 70% de su salario como diputado independiente en el Congreso de Jalisco, como parte de un esfuerzo por hacer política de forma austera, congruente y honesta.

			%p
				Actualmente es el diputado independiente Pablo Torres Guízar, quien continúa con el compromiso y donación al fondo. Esta donación se destina –quincena tras quincena–  a un fondo semilla abierto y transparente en
				=link_to 'Corporativa de Fundaciones', 'https://www.cf.org.mx/', target: '_blank'
				, teniendo la certeza de que los recursos serán administrados y concursados con el mayor rigor y profesionalidad”.

			%p Es importante mencionar que este fondo es abierto y cualquier persona que quiera contribuir económicamente al impulso de iniciativas de la ciudadanía puede hacerlo a través de Corporativa de Fundaciones.
			%p
				=link_to '→ Alejandro Pablo Torres Guízar', 'https://sites.google.com/view/pablotorresguizar/página-principal', target: '_blank'
				<br>
				=link_to '→ Transparencia Fondo Germina', 'https://docs.google.com/spreadsheets/d/1ywNQLvm1JZbC1tOkZeIBXhEio6AlZHB9MjWPd1dag84/edit#gid=0', target: '_blank'

%section.whatwedo#do
	.container
		.what-content
			%h1 ¿Qué hacemos?
			%p A través de nuestros programas, queremos impulsar iniciativas propuestas por la ciudadanía que activen su participación política y que respondan a soluciones específicas, atendidas desde las áreas de incidencia del fondo:

			.flex-boxes
				%a.flex-box{:href => "javascript:void(0)"}
					=image_tag('icons/participacion.png')
					%h1.flex-title Participación política
					%p Queremos que la ciudadanía tenga incidencia sobre la agenda pública, participando e influyendo directamente en las decisiones políticas que los involucren.

				%a.flex-box{:href => "javascript:void(0)"}
					=image_tag('icons/innovacion.png')
					%h1.flex-title Innovación cívica
					%p Potencializar las ideas, el talento y  los conocimientos de la ciudadanía para transformar y dar solución a los problemas comunes.

				%a.flex-box{:href => "javascript:void(0)"}
					=image_tag('icons/transparencia.png')
					%h1.flex-title Transparencia y acceso a información pública
					%p Facilitar las vías de acceso para que las personas podamos solicitar, consultar, recibir, difundir, reproducir y publicar información relacionada con nuestro gobierno y las decisiones que nos involucran como ciudadanía.

				%a.flex-box{:href => "javascript:void(0)"}
					=image_tag('icons/ciudad.png')
					%h1.flex-title Derecho a la ciudad y el buen vivir
					%p Consolidar una ciudad para todas y todos, incluyente, equitativa y con igualdad en el acceso de oportunidades y de desarrollo.

				%a.flex-box{:href => "javascript:void(0)"}
					=image_tag('icons/desarrollo.png')
					%h1.flex-title Desarrollo justo y sustentable
					%p Propiciar el crecimiento y consolidación  de la comunidad, de forma equilibrada y sin que comprometa su estabilidad.

				%a.flex-box{:href => "javascript:void(0)"}
					=image_tag('icons/derechos.png')
					%h1.flex-title Derechos humanos
					%p Buscamos que todas las personas puedan desarrollarse de forma íntegra  y sin distinción de su género, raza, religión, opinión pública o cualquier índole.


%section.faqs#faqs
	.container
		.faqs-content
			%h1 Preguntas Frecuentes
			%ul.accordion
				%li
					=link_to '¿Cuánto gana un diputado en el Congreso de Jalisco?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p Actualmente, un diputado en el Congreso de Jalisco percibe un salario de $70,000.00 netos al mes. Esto es, este es su salario después de impuestos.

				%li
					=link_to '¿Por qué Pedro Kumamoto renunció al 70% de su sueldo siendo diputado independiente?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p “No estoy de acuerdo en que ser un servidor público signifique convertirse en miembro de la "realeza" en nuestro país. Me indigna y me molesta que el servicio público sea sinónimo de cobrar una fortuna. Creo que toda persona debe recibir una remuneración justa o equitativa por el trabajo que desempeña. ¿Eso significa que a un diputado se le deba pagar más de 100 mil pesos al mes por el trabajo que realiza? Claro que no, eso es injusto y es aberrante frente a la realidad de México. Necesitamos entender que los puestos de representación popular deben guardar una correlación directa con el sueldo promedio del país.” - P.K.

				%li
					=link_to '¿Por qué Pablo Torres continúa con el compromiso de la donación?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p “Esencialmente porque el servicio público no debe ser visto nunca más como un espacio para el enriquecimiento y la permisividad.  Porque la empatía con la que debemos conducirnos ante la realidad en la que vive la mayor parte de la gente en nuestro país, nos llama a ejercer el cargo de manera austera y comprensiva. El proceso y los resultados que ha dado proyecto Germina, dan cuenta de la creatividad, esfuerzo y cariño con el que se conducen las diferentes organizaciones y personas que participan de las convocatorias”.

				%li
					=link_to '¿A dónde se va a ir el dinero? ¿Quién lo va a gestionar?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p Todas las donaciones recibidas, se destinarán a un fondo específico que se crea dentro Corporativa de Fundaciones, quienes serán también los encargados de gestionar el recurso.

				%li
					=link_to '¿Qué es Corporativa de Fundaciones?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p Corporativa de Fundaciones tiene una trayectoria de más de 15 años vinculando a organizaciones de la sociedad civil para poder obtener fondos, así como fortalecer sus capacidades de gestión. A través de Corporativa de Fundaciones tenemos la certeza de que estos fondos serán concursados con el mayor rigor, de manera completamente legal, formal y transparente.

				%li
					=link_to '¿Porque crear un fondo en Corporativa de Fundaciones?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p
							Corporativa de Fundaciones tiene una trayectoria de más de 15 años vinculando a organizaciones de la sociedad civil para poder obtener fondos, así como fortalecer sus capacidades de gestión. A través de Corporativa de Fundaciones tenemos la certeza de que estos fondos serán concursados con el mayor rigor, de manera completamente legal, formal y transparente.
				%li
					=link_to '¿Cómo y cuándo podrán concursar las personas por este fondo?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p
							En
							=link_to 'http://www.fondogermina.mx/convocatoria', 'http://www.www.fondogermina.mx/convocatoria', target: '_blank'
							podrán revisar los lineamientos para la convocatoria actual.

				%li
					=link_to '¿Quiénes pueden participar?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p
							Podrán participar  activistas, defensores de derechos humanos, investigadores y promotores comunitarios que vivan en Jalisco y que tengan proyecto con impacto directo en las áreas de incidencia del fondo.

				%li
					=link_to '¿Qué tipo de proyectos busca apoyar Germina?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p Buscamos fortalecer iniciativas que profundicen y propongan soluciones específicas a los problemas locales a través de nuestros siguientes programas de impulso:

						%p <strong>Programa OSC</strong>: dirigido a organizaciones de la sociedad civil de Jalisco, debidamente constituidas como donataria autorizada y con proyectos que promuevan la participación política, derechos humanos, desarrollo justo y sustentable, derecho a la ciudad y el buen vivir, transparencia y acceso ala información pública e innovación cívica.

						%p <strong>Cultiva</strong>: es un programa de impulso que potencializa el trabajo de activistas, promotores comunitarios, investigadores y defensores de los derechos humanos


				%li
					=link_to '¿El concurso para los fondos va a ser transparente? ¿Quién se encarga de elegir a los proyectos beneficiarios?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p
							Por supuesto. Se conformarán comités plurales encargados de evaluar los proyectos con base en lineamientos públicos, claros, y transparentes. Los criterios de evaluación serán conocidos por todos y todas las participantes desde el lanzamiento de la convocatoria, consúltalos en

							=link_to 'http://www.fondogermina.mx/convocatoria', 'http://www.fondogermina.mx/convocatoria', target: '_blank'

				%li
					=link_to '¿Cómo vamos a saber si los fondos se están utilizando de forma correcta?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p Para cada uno de los proyectos que sean acreedores de este fondo, Corporativa de Fundaciones hará un trabajo de seguimiento y evaluación para asegurarse de que se estén cumpliendo los objetivos planteados desde la convocatoria.

				%li
					=link_to '¿Puedo aportar recursos para Germina?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p Germina es un fondo semilla abierto, si deseas sumarte y hacer una donación, por favor, escríbenos a hola@fondogermina.mx o comunícate con Corporativa de Fundaciones al teléfono (33)36158286 o al domicilio Calle Manuel López Cotilla 2139, Guadalajara, Jal.

				%li
					=link_to 'Mi proyecto cumple con los requisitos pero no vivo en Jalisco, ¿puedo aplicar a la convocatoria?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p Sí, siempre y cuando el proyecto y su impacto sea en el estado de Jalisco y cumplas con los requisitos de la convocatoria.

						%p Es importante que tengas disponibilidad de participar en las asesorías de forma presencial o por streaming.


				%li
					=link_to '¿Puede concursar un proyecto que no vaya a ejecutarse en Jalisco?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p
							En esta convocatoria, Germina solamente impulsará proyectos que tengan impacto en Jalisco. Pero sigamos en contacto para que futuras convocatorias puedan contemplarlo, envíanos un correo a hola@fondogermina.mx para incluirte en nuestra base de datos.

				%li
					=link_to '¿Puedo aplicar a la convocatoria desde un colectivo u organización de la sociedad civil?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p Esta convocatoria tiene el objetivo de impulsar proyectos propuestos por personas que, desde lo particular, actúen por lo común; sin embargo, queremos conocer a tu organización o proyecto, y que participes en el proceso de retroalimentación de Germina. Envíanos un correo a hola@fondogermina.mx para seguir en contacto.
				%li
					=link_to '¿Cuál fue el presupuesto de la primera convocatoria para el Programa OSC?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p En la primer convocatoria — en agosto del 2016— se repartieron $483,549.38 MXN entre los 3 proyectos beneficiarios de las organizaciones Familiares y Amigos de Personas con Discapacidad Intelectual A.C., Fundación Ecológica Selva Negra A.C. y Líderes del Siglo A.C.

				%li
					=link_to '¿Cuál es el presupuesto de Cultiva: Programa de impulso para activistas?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p En esta convocatoria se otorgarán $90,000 MXN por proyecto, en 6 entregas parciales.

				%li
					=link_to '¿Se pueden presentar organizaciones con fines de lucro?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p Ninguna de las propuestas deberá perseguir fines de lucro. Por el contrario, tendrá como finalidad el buscar la participación social y política de la comunidad.


				%li
					=link_to 'Pertenezco a una organización a la que le gustaría constituirse como donataria autorizada, ¿qué pasos debo seguir?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p Para consultar el proceso de constitución legal de tu organización, recomendamos la lectura del Manual de Constitución Legal de Asociaciones Civiles elaborado por Alternativas y Capacidades.

				%li
					=link_to '¿Se llevarán a cabo más convocatorias en el futuro?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p Sí. Envíanos un correo a hola@fondogermina.mx para estar informado sobre las actividades del fondo y sus futuras convocatorias.

				%li
					=link_to '¿Tengo que ser del Distrito 10 para presentar un proyecto?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p No. El requisito es que los proyectos tengan un impacto directo con el Estado de Jalisco.

				%li
					=link_to '¿Puede presentarse más de una propuesta?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p Sí. No hay límite de proyectos que pueda presentar cada persona. Ten en cuenta que se deberá realizar una aplicación por propuesta.


				%li
					=link_to 'En caso de ser aceptado, ¿cuál es el plazo para ejecutar el proyecto en la presente convocatoria?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p El apoyo económico otorgado a los proyectos deberá ser empleado en una duración máxima de seis meses, después de la primer entrega de recursos para el Programa Cultiva y 12 meses para quienes participen en el Programa OSC.

						%p Esto en lo que se refiere al apoyo económico otorgado por Germina, sin embargo, el proyecto podrá continuar una vez ejecutados estos fondos.

				%li
					=link_to '¿Puede un proyecto seleccionado utilizar recursos de diferente procedencia? ', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p Sí. Germina otorgará apoyos parciales o totales para proyectos, pero las personas se encuentran en total libertad de buscar recursos por otros medios, siempre y cuando esto no les impida cumplir con lo establecido en las bases de la convocatoria

				%li
					=link_to 'Tengo una muy buena idea pero mi proyecto no cumple con los requisitos para participar en la convocatoria ¿cómo puedo participar?', 'javascript:void(0)', class: 'js-accordion-trigger'
					.accordion-content
						%p Te recomendamos compartir tus ideas con más personas, encontrar aliadas y aliados y comenzar a esbozar los pasos a seguir para lograr llevar a cabo esa propuesta.

			/ %p Asimismo, te invitamos a que seas parte de la comunidad de Germina:
			/ =link_to 'Unirme a Germina', 'https://docs.google.com/forms/d/e/1FAIpQLSenKhLKz31lvENTlFN8hjbCcOseOR2jIpQ3bX2jrUPK_uLTZg/viewform', target: '_blank', class: 'button small'



%section.info#info
	.container
		.info-content
			%h2 Recibe más información sobre Germina y los proyectos ganadores
			/ %h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Donec ornare eget tortor tincidunt egestas.
			=link_to 'Regístrate', 'https://docs.google.com/forms/d/e/1FAIpQLSenKhLKz31lvENTlFN8hjbCcOseOR2jIpQ3bX2jrUPK_uLTZg/viewform', class: 'button white', target: '_blank'
%section.contact#contact
	.container
		.contact-content
			%nav
				%ul
					%li
						=link_to 'https://www.facebook.com/FondoGermina/?fref=ts', target: '_blank' do
							=image_tag('facebook.svg')
							.text
								%strong Facebook
								%span FondoGermina
					%li
						=link_to 'https://www.twitter.com/@fondogermina', target: '_blank' do
							=image_tag('twitter.svg')
							.text
								%strong Twitter
								%span @fondogermina
					%li
						=link_to 'mailto:hola@fondogermina.mx' do
							=image_tag('mail.svg')
							.text
								%strong Email
								%span hola@fondogermina.mx
					%li
						=link_to 'http://www.cf.org.mx' do
							.text
								%strong Corporativa de Fundaciones
								%span http://www.cf.org.mx
					%li
						=link_to 'http://bit.ly/PabloTGuízar' do
							.text
								%strong Pablo Torres
								%span http://bit.ly/PabloTGuízar
:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-83462702-1', 'auto');
	ga('send', 'pageview');